<!-- Topbar Start -->
    <div class="container-fluid bg-primary text-white d-none d-lg-flex">
        <div class="container py-3">
            <div class="d-flex align-items-center">
                <a href="{% url 'index' %}">
                    <h2 class="text-white fw-bold m-0">Cheikh Sow</h2>
                </a>
                <div class="ms-auto d-flex align-items-center">
                    <small class="ms-4"><i class="fa fa-map-marker-alt me-3"></i>Dakar, Liberté 6, Sénégal</small>
                    <small class="ms-4"><i class="fa fa-envelope me-3"></i>csow.cheikh@gmail.com</small>
                    <small class="ms-4"><i class="fa fa-phone-alt me-3"></i>+221 77 138 42 09</small>
                    <div class="ms-3 d-flex">
                        <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" target="_blank" href="https://web.facebook.com/sow5212/"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" target="_blank" href="https://twitter.com/kheuch124"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" target="_blank" href="https://www.linkedin.com/in/cheikh-sow-5b8908142/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->